includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - src

    level: max

    ignoreErrors:
        - '#Cannot call method (.*) on mixed\.#'
        - '#Property (.*) does not accept mixed\.#'
        - '#Method (.*) should return (.*) but returns mixed\.#'
        - '#Parameter (.*), mixed given.#'

    checkMissingIterableValueType: false

    reportUnmatchedIgnoredErrors: false

    checkOctaneCompatibility: true

    checkGenericClassInNonGenericObjectType: false
