includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - src

    level: max

    ignoreErrors:
        - '#Cannot call method (.*) on mixed\.#'
        - '#Property (.*) does not accept mixed\.#'
        - '#Method (.*) should return (.*) but returns mixed\.#'
        - '#Parameter (.*), mixed given.#'
        - '#Parameter \#1 \$string of function strlen expects string, string\|null given\.#'
        - '#Unsafe usage of new static\(\)\.#'

    checkMissingIterableValueType: false

    reportUnmatchedIgnoredErrors: false

    checkOctaneCompatibility: true

    checkGenericClassInNonGenericObjectType: false
